{% extends 'layouts/base.html' %}

{% block title %}{{ object.nombre }} {{ object.apellido }}{% endblock %}

{% block content %}
<h1 class="text-2xl font-semibold mb-4 capitalize">{{ object.nombre }} {{ object.apellido }}</h1>
<p class="text-lg mb-4">Fecha de nacimiento: <span class="font-medium">{{ object.fecha_nacimiento }}</span></p>

<h2 class="text-xl font-bold mb-3">Libros de este autor:</h2>
<ul class="list-disc pl-6">
    {% for libro in object.libro_set.all %}
    <li class="mb-2">
        <a href="{% url 'detalle_libro' libro.id %}" class="text-blue-600 hover:underline">{{ libro.titulo }}</a>
    </li>
    {% empty %}
    <p class="text-gray-600">Este autor aún no tiene libros registrados.</p>
    {% endfor %}
</ul>
{% endblock %}

{% block actions %}
<div class="max-w-4xl mx-auto mt-8 bg-white rounded-lg flex flex-col items-center">
    <div class="flex gap-4 justify-center">
        <a href="{% url 'edit_autor' object.id %}" class="bg-green-600 p-3 text-white rounded-[10px] hover:bg-green-500">Editar Autor</a>
        <a href="{% url 'delete_autor' object.id  %}" class="bg-red-600 p-3 text-white rounded-[10px] hover:bg-red-500">Eliminar Autor</a>
    </div>
</div>

{% endblock%}