{% extends 'layouts/base.html' %}

{% block title %}{{ object.nombre }} {{ object.apellido }}{% endblock %}

{% block content %}
<h1 class="text-2xl font-semibold mb-4 capitalize">{{ object.nombre }} {{ object.apellido }}</h1>
<p class="text-lg mb-4">Fecha de nacimiento: <span class="font-medium">{{ object.fecha_nacimiento }}</span></p>

<h2 class="text-xl font-bold mb-3">Libros de este autor:</h2>
<ul class="list-disc pl-6">
    {% for libro in object.libro_set.all %}
    <li class="mb-2">
        <a href="{% url 'detalle_libro' libro.id %}" class="text-blue-600 hover:underline">{{ libro.titulo }}</a>
    </li>
    {% empty %}
    <p class="text-gray-600">Este autor aún no tiene libros registrados.</p>
    {% endfor %}
</ul>
{% endblock %}