<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Autores</title>
    
        <script src="https://cdn.tailwindcss.com"></script>

        <style>
            * {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
<body>
    <header class="bg-fuchsia-600 text-white py-4 flex flex-col items-center rounded-b-[20px]">
        
        <h1 class="text-4xl font-bold flex-col justify-center">Gestion de Libros</h1>
        <nav class="w-full pl-10 font-bold"> 
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'lista_autores' %}" class=" pl-5">Autores</a>
            <a href="{% url 'lista_libros' %}" class=" pl-5">Libros</a> 
        </nav>
    </header>
    <main class="max-w-3xl mx-auto mt-8 p-6 bg-white rounded-lg shadow-md capitalize">
        <h2 class="text-3xl font-bold text-fuchsia-600 mb-4 ">{{ object.titulo }}</h2>
        <div class="text-lg text-gray-700 space-y-4 ">
            <p><strong class="text-gray-900">Año de publicación:</strong> {{ object.fecha_publi }}</p>
            <p><strong class="text-gray-900 ">Género:</strong> {{ object.genero }}</p>
            <p><strong class="text-gray-900">ISBN:</strong> {{ object.isbn }}</p>
            <p>
                <strong class="text-gray-900">Autor:</strong> 
                <a href="{% url 'detalle_autor' object.autor.id %}" class="text-blue-600 hover:underline ">
                    {{ object.autor.nombre }} {{ object.autor.apellido }}
                </a>
            </p>
        </div>
    </main>

</body>
</html>
