{% extends 'layouts/base.html' %}

{% block title %}Autores - Gestión de Libros{% endblock %}

{% block content %}
<h2 class="text-3xl font-bold mb-4 ">{{ object.titulo }}</h2>
<div class="text-lg text-gray-700 space-y-4 ">
    <p class="text-gray-900"><strong>Año de publicación:</strong> {{ object.fecha_publi }}</p>
    <p class="capitalize text-gray-900"><strong>Género:</strong> {{ object.genero }}</p>
    <p class="text-gray-900"><strong>ISBN:</strong> {{ object.isbn }}</p>
    <p>
        <strong class="text-gray-900">Autor:</strong> 
        <a href="{% url 'detalle_autor' object.autor.id %}" class="text-blue-600 hover:underline ">
            {{ object.autor.nombre }} {{ object.autor.apellido }}
        </a>
    </p>
</div>
{% endblock %}