{% extends 'layouts/base.html' %}

{% block title %}{{ object.titulo }}{% endblock %}

{% block content %}
<h2 class="text-3xl font-bold mb-4 ">{{ object.titulo }}</h2>
<div class="text-lg text-gray-700 space-y-4 ">
    <p class="text-gray-900"><strong>Año de publicación:</strong> {{ object.fecha_publi }}</p>
    <p class="capitalize text-gray-900"><strong>Género:</strong> {{ object.genero }}</p>
    <p class="text-gray-900"><strong>ISBN:</strong> {{ object.isbn }}</p>
    <p>
        <strong class="text-gray-900">Autor:</strong> 
        <a href="{% url 'detalle_autor' object.autor.id %}" class="text-blue-600 hover:underline ">
            {{ object.autor.nombre }} {{ object.autor.apellido }}
        </a>
    </p>
</div>
{% endblock %}


{% block actions %}
<div class="max-w-4xl mx-auto mt-8 bg-white rounded-lg flex flex-col items-center">
    <div class="flex gap-4 justify-center">
        <a href="{% url 'edit_book' object.id %}" class="bg-green-600 p-3 text-white rounded-[10px] hover:bg-green-500">Editar Libro</a>
        <a href="{% url 'delete_book' object.id  %}" class="bg-red-600 p-3 text-white rounded-[10px] hover:bg-red-500">Eliminar Libro</a>
    </div>
</div>
{% endblock%}