{% extends 'layouts/base.html' %}

{% block title %}Autores - Gestión de Libros{% endblock %}

{% block content %}
<h2 class="text-2xl font-bold mb-4">Lista de Libros:</h2>
<ul class="divide-y za divide-gray-300">
    {% for libro in object_list %}
    <li class="py-4">
        <a href="{% url 'detalle_libro' libro.id %}" class="text-lg font-semibold text-blue-600 hover:underline capitalize">
            {{ libro.titulo }}
        </a>
        <p class="text-gray-600 capitalize">Autor: {{ libro.autor.nombre }} {{ libro.autor.apellido }}</p>
    </li>
    {% empty %}
    <p class="text-gray-600">No hay libros disponibles en este momento.</p>
    {% endfor %}
</ul>
{% endblock %}  