{% extends 'layouts/base.html' %}

{% block title %}Libros{% endblock %}

{% block content %}
<h2 class="text-2xl font-bold mb-4">Lista de Libros:</h2>
<ul class="divide-y za divide-gray-300">
    {% for libro in object_list %}
    <li class="py-4">
        <a href="{% url 'detalle_libro' libro.id %}" class="text-lg font-semibold text-blue-600 hover:underline capitalize">
            {{ libro.titulo }}
        </a>
        <p class="text-gray-600 capitalize">Autor: {{ libro.autor.nombre }} {{ libro.autor.apellido }}</p>
    </li>
    {% empty %}
    <p class="text-gray-600">No hay libros disponibles en este momento.</p>
    {% endfor %}
</ul>
{% endblock %}
{% block actions %}
<div class="max-w-4xl mx-auto mt-8 bg-white rounded-lg flex flex-col items-center">
    <a href="{% url 'add_book' %}" class="bg-green-600 p-3 text-white rounded-[10px] hover:bg-green-500">Añadir Libro</a>
</div>
{% endblock %}
