<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Autores</title>
    
        <script src="https://cdn.tailwindcss.com"></script>

        <style>
            * {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
<body>
    <header class="bg-fuchsia-600 text-white py-4 flex flex-col items-center rounded-b-[20px]">
        
        <h1 class="text-4xl font-bold flex-col justify-center">Gestion de Libros</h1>
        <nav class="w-full pl-10 font-bold"> 
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'lista_autores' %}" class=" pl-5">Autores</a>
            <a href="{% url 'lista_libros' %}" class=" pl-5">Libros</a> 
        </nav>
    </header>
    <main class="max-w-4xl mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-4">Lista de Libros:</h2>
        <ul class="divide-y divide-gray-300">
            {% for libro in object_list %}
            <li class="py-4">
                <a href="{% url 'detalle_libro' libro.id %}" class="text-lg font-semibold text-blue-600 hover:underline capitalize">
                    {{ libro.titulo }}
                </a>
                <p class="text-gray-600 capitalize">Autor: {{ libro.autor.nombre }} {{ libro.autor.apellido }}</p>
            </li>
            {% empty %}
            <p class="text-gray-600">No hay libros disponibles en este momento.</p>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
