{% extends 'layouts/base.html' %}

{% block title %}Autores{% endblock %}

{% block content %}
    <h3 class="text-2xl font-bold mb-4">Autores:</h3>
    <ul class="list-disc pl-6">
        {% for autor in object_list %}
        <li class="text-lg mb-2 capitalize">
            <a href="{% url 'detalle_autor' autor.id %}" class="text-blue-600 hover:underline">
                {{ autor.nombre }} {{ autor.apellido }}
            </a>
        </li>
        {% empty %}
        <p>No hay autores disponibles.</p>
        {% endfor %}
    </ul>
{% endblock %}
{% block actions %}
<div class="max-w-4xl mx-auto mt-8 bg-white rounded-lg flex flex-col items-center">
    <a href="{% url 'add_autor' %}" class="bg-green-600 p-3 text-white rounded-[10px] hover:bg-green-500">Añadir Autor</a>
</div>

{% endblock %}
